@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@/public/fonts/fonts.css');

body {
  font-family: 'Mulish', sans-serif;
}

.lh {
  line-height: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}